.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  /* background-color: #D1C4E9; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25em;
  background-color: #FFE277;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  text-align-last: center;
  padding:110px 10px 10px 10px;
  margin:0px auto;
  /* margin-top: 20px; */
  background: #58B4AE ;
  color: floralwhite;
}
.carousel-indicators li {
  background-color: #0f0f0f;
}
.navbar-light{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}


.navbar-dark {    
  background-color: #512DA8;    
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}